/*.header {
    height: 100px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/005/417/656/non_2x/ice-cream-design-logo-premium-3-vector.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header > * {
    display: inline-block;
    height: 100%;
    vertical-align: middle; 
    line-height: 100px;     
    color: #252525;
}

.lista {
    margin: 0;  
    padding: 0;
}

.logo {
    width: 15%;
}

.logo > * {
    width: 100%;
    height: 100%;
    object-fit: contain;  
}*/

li {
    display:inline;
}

.menu-item{
    margin-left: 30px;
    font-family: 'Cairo', sans-serif;
}

.navbar {
    width: 70%;
    height: 100%;
    text-align: center;   
    font-size: 25px; 
}

/*.fixed-header {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
}*/

.imagen {
    background-image: url("https://www.heladoslamichoacana.net/images/s7.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    padding-top:150px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.encabezado-img{
    height: 50%;
    /*background-color: seagreen;
    border-width: 2px;
    border-style: solid;
    border-color: black;*/
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.altura-img {
    height: 60%;
    display:block;
}
.altura-img > img {
    height: 100%;
    display:block;
    width: auto;
}

.imagen h1 {   
    margin: 0;
    flex-shrink: 0;
    font-family: 'Cairo', sans-serif;
    color: #252525;
    font-size: 46px;
    color: #fff;
}

.imagen > img {
    object-fit: cover;
}

.productos {
    padding-top: 200px;
    padding-bottom: 200px;
}

.prod-container{
    display:flex;
    justify-content: center;
    height: 500px;
}

.paletas {
    width: 400px;
    height: 100%;
    font-family: Ubuntu, Helvetica, sans-serif;
    justify-content: center;
}

.paletas > h1 {
    font-family: 'Chilanka', cursive;
    text-align: center;
    margin-bottom: 30px;
}

.paletas > img {
    margin-left: 70px;
    margin-bottom: 30px;
}

.paletas > p {
    font-size: 14px;
}

.paletas > button {
    color:white;
    background-color: #3898EC;
    border: 0;
    padding: 9px 15px;
    text-align: center;
    margin-left: 130px;
}

.paletas2 {
    width: 400px;
    height: 100%;
    font-family: Ubuntu, Helvetica, sans-serif;
    justify-content: center;
}

.paletas2 > h1 {
    font-family: 'Chilanka', cursive;
    text-align: center;
    margin-bottom: 30px;
}

.paletas2 > img {
    margin-left: 70px;
    margin-bottom: 30px;
}

.paletas2 > p {
    font-size: 14px;
}

.paletas2 > button {
    color:white;
    background-color: #3898EC;
    border: 0;
    padding: 9px 15px;
    text-align: center;
    margin-left: 130px;
}
.paletas3 {
    width: 400px;
    height: 100%;
    font-family: Ubuntu, Helvetica, sans-serif;
    justify-content: center;
}

.paletas3 > h1 {
    font-family: 'Chilanka', cursive;
    text-align: center;
    margin-bottom: 30px;
}

.paletas3 > img {
    margin-left: 70px;
    margin-bottom: 30px;
}

.paletas3 > p {
    font-size: 14px;
}

.paletas3 > button {
    color:white;
    background-color: #3898EC;
    border: 0;
    padding: 9px 15px;
    text-align: center;
    margin-left: 130px;
}

.fondo2 {
    background-image: url("https://www.heladoslamichoacana.net/images/4.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    height: 80vh;
}

.fondo2{
    text-align: center;
}
.fondo2 > h1 {
    padding-top: 200px;
    color: #fff;
    font-family: 'Chilanka', cursive;
}

.fondo2 > button {
    color:white;
    background-color: #3898EC;
    border: 0;
    padding: 9px 15px;
    text-align: center;
    margin-top: 20px;
}
.fondo2-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
    margin-top: 20px;
    width: 45%;
    height: 250px;
    border: 3px solid #fff;
    box-shadow: 0 0 300px #222;
    border-radius: 12px;
}

.fondo2-container h2{
    font-family: 'Chilanka', cursive;
    color: black;
    padding-bottom: 20px;
    padding-top: 20px;
}

.fondo2-container p {
    font-size: 12px;
    font-family: 'Chilanka', cursive;
    color: black;
    padding-left: 150px;
    padding-right: 150px;
}

.gallery{
    display:grid;
    grid-template: repeat(2, 400px) / repeat(4, 1fr);
    grid-template-areas:
    "uno dos tres cuatro"
    "uno cinco seis cuatro"
}

.gallery > :nth-child(1){
    grid-area: uno;
    background-image: url("https://www.heladoslamichoacana.net/images/gt1.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
}

.gallery > :nth-child(2){
    grid-area: dos;
    background-image: url("https://www.heladoslamichoacana.net/images/4.jpg");
    margin-left: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery > :nth-child(3){
    grid-area: tres;
    background-image: url("https://www.heladoslamichoacana.net/images/gt5.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 30px;

}

.gallery > :nth-child(4){
    grid-area: cuatro;
    background-image: url("https://www.heladoslamichoacana.net/images/gt7.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 30px;
}

.gallery > :nth-child(5){
    grid-area: cinco;
    background-image: url("https://www.heladoslamichoacana.net/images/gt3.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
}

.gallery > :nth-child(6){
    grid-area: seis;
    display:flex;
    background-color: rgb(230, 195, 44);
    color: white;
    font-size: 70px;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.gallery img {
    width: 100%;
    height: 100%;
}

.boletin {
    margin-top: 150px;
    height: 50vh;
    display:flex;
    width: 70%;
    justify-content: center;
    font-size: 16px;
    }

.contactar {
    width: 30%;
    text-align: center;
    margin-left: 550px;
}
.contactar h1{
    font-size: 32px;
    font-family: 'Chilanka', cursive;
    padding-bottom: 20px;
}
.contactar h2 {
    font-size: 17px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.contactar p{
    font-family: 'Ubuntu', sans-serif;
}

.contactar button {
    color:white;
    background-color: #3898EC;
    border: 0;
    padding: 9px 15px;
    text-align: center;
    margin-top: 10px;
}

.grupo {
    width: 40%;
    text-align: center;
    padding-left: 40px;
}

.grupo h1 {
    font-size: 32px;
    font-family: 'Chilanka', cursive;
    padding-bottom: 20px;
}

.grupo h2 {
    font-size: 17px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.grupo input {
    width: 400px;
    margin-top: 10px;
}

.grupo button {
    color:white;
    background-color: #3898EC;
    border: 0;
    padding: 9px 15px;
    text-align: center;
    margin-top: 10px;
}

.footer{
    background-color: black;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    color:#7a7a7a;
    font-weight: 400;
    font-size: 11px;
}

@media (max-width: 575px) {
    .navbar{
        width: 100%;
    }
    .encabezado-img h1 {
        font-size: 25px;
    }
    .prod-container {
        flex-direction: column;
        padding-top: 1050px;
    }
    .paletas{
        margin-bottom: 320px;
        text-align: center;
    }
    .paletas > img {
        margin-left: 0;
    }
    .paletas > button {
        margin-left: 0;
    }
    .paletas2{
        margin-top: 150px;
        margin-bottom: 330px;
        margin-left: 30px;
        text-align: center;
    }
    .paletas2 > img {
        margin-left: 0;
        margin-right: 50px;
    }
    .paletas2 > p {
        margin-left: 0;
        margin-right: 60px;
    }
    .paletas2 > button {
        margin-left: 0;
        margin-right: 60px;
    }
    .paletas3{
        margin-top: 150px;
        margin-bottom: 1500px;
        margin-left: 30px;
        text-align: center;
    }
    .paletas3 > img {
        margin-left: 0;
        margin-right: 60px;
    }
    .paletas3 > h1{
        margin-right: 60px;
    }
    .paletas3 > p {
        margin-right: 60px;
        margin-left: 0;
    }
    .paletas3 > button {
        margin-right: 60px;
        margin-left: 0;
    }
    .fondo2 h1{
    padding-top: 120px;
    color:black;
    }
    .fondo2-container {
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }
    .fondo2-container p{
        padding-left: 0;
        padding-right: 0;
    }
    .fondo2-container h2{
        font-size: 20px;
    }
    .gallery > :nth-child(1){
        margin-left: 0;
    }
    .gallery > :nth-child(4){
    margin-right: 0;
    }
    .gallery > :nth-child(2){
    margin-left: 5px;
    }
    .gallery > :nth-child(5){
        margin-left: 5px;
        }
    .gallery > :nth-child(3){
        margin-right: 5px;
    }
    .gallery > :nth-child(6){
        margin-right: 5px;
        font-size: 12px;
    }
    .boletin{
        width: 100%;
    }
    .contactar{
        margin-left: 0;
    }
    .contactar h1{
        font-size: 18px;
    }
    .contactar-text h2 {
        font-size: 13px;
    }
    .contactar-text p {
        font-size: 10px;
    }
    .grupo{
        margin-left: 0;
    }
    .grupo {
        margin-left: 0;
    }
    .grupo h1{
        font-size: 18px;
    }
    .grupo-text h2 {
        font-size: 13px;
        padding-bottom: 10px;
    }
    .grupo-text input {
        width: 100%;
        font-size: 10px;
    }
}